.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  transition: 0.5s width, 0.6s height, 0.5s background-color;
  margin: 20px auto;
}

.color {
  background-color: aqua;
}

.box-size {
  width: 200px;
  height: 200px;
}
